{% extends ":"~template~":base.html.twig" %}

{% block content %}
<div data-section="1" data-slot="text" class="white-box">
  <h2>Alles klar!</h2>
  <p>Du bekommst ab sofort regelmäßig unseren Newsletter. Solltest du einmal deine Meinung ändern, befindet sich in jedem Newsletter von uns ganz unten ein Abmeldelink.</p>

  <h2>Jetzt spenden!</h2>
  <p>Wir kämpfen für ein gerechtes Wien für alle – nicht nur jene, die es sich leisten können! Deswegen nehmen wir auch keine Spenden von großen Unternehmen oder Lobbys an. Um trotzdem eine kraftvolle politische Arbeit leisten zu können, brauchen wir deine Unterstützung. Gemeinsam kämpfen wir für ein gutes Leben für alle Wiener_innen – hilfst du mit?</p>
  <a class="button" href="https://spenden.links-wien.at">Jetzt spenden!</a>
</div>
{% endblock %}
